.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(204, 164, 164);
    border: 5px solid rgb(250, 234, 234);
    color: white;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 50px;
    float: right;
  }
  .text {
    font-size: 1.0em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .svg {
    padding-top: 5px;
    height: 100%;
    width: fit-content;
  }
  .svg svg {
    width: 50px;
    height: 30px;
  }
  .button:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .button:hover {
    border: 5px solid rgb(252, 226, 226);
    background-color: rgb(249, 193, 193);
  }
  .button:active {
    border: 5px solid #c0dfff;
  }
  .button:hover .svg svg {
    animation: jello-vertical 0.9s both;
    transform-origin: left;
  }
  
  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  