#nha-rong {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the div without stretching */
}

#hcm {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the div without stretching */
  object-position: top;
}