* {
  margin: 0;
  padding: 0;
}
/* svg path {
  fill: #00394f;
  stroke: #eee;
  stroke-width: 0.25;
} */
svg path:hover {
  fill: #006284;
  transition: 0.6s;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #2d2733;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #dcbfff;
}
.side-panel {
  position: fixed;
  background-color: #1d1a20;
  padding: 2em;
  top: 0;
  left: -50em;
  width: 100%;
  max-width: 30em;
  height: 100vh;
  transition: 600ms cubic-bezier(0.77, 0, 0.18, 1);
  overflow: scroll;
  z-index: 1;
}
.side-panel .container {
  margin-left: 70px;
  padding-block: 2em;
  transition: 200ms ease-out;
}
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  background-color: rgb(251, 205, 205);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}
.close-btn:hover {
  background-color: rgb(255, 230, 173);
}
.side-panel-open {
  left: 0;
}
.hide {
  opacity: 0;
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5em;
  height: 5em;
  border: none;
  background-color: #443d4b;
  color: #fff;
  transition: 100ms;
  cursor: pointer;
}
li {
  margin-top: 10px;
  text-align: justify;
  width: 350px;
  color: #ffffff;
}
strong {
  color: rgb(248, 137, 137);
}
/*
        * Below are Cascading Style Sheet (CSS) definitions in use in this file,
        * which allow easily changing how countries are displayed.
        *
        * The styles are applied in the order in which they are defined (and re-defined) here in the preamble.
        */

/*
        * Circles around small countries and territories
        *
        * Change opacity to 1 to display all circles
        */
.circlexx {
  opacity: 0;
  fill: #c0c0c0;
  stroke: #000000;
  stroke-width: 0.5;
}

/*
        * Smaller circles around subnational territories: Australian external territories, Chinese SARs, Dutch special municipalities, and French DOMs (overseas regions/departments) [but not French COMs (overseas collectivities)]
        *
        * Change opacity to 1 to display all circles
        */
.subxx {
  opacity: 0;
  fill: #c0c0c0;
  stroke: #000000;
  stroke-width: 0.3;
}

/*
        * Land
        * (all land, as opposed to water, should belong to this class; in order to modify the coastline for land pieces with no borders on them a special class "coastxx" has been added below)
        */
.landxx {
  fill: #c0c0c0;
  stroke: #ffffff;
  stroke-width: 0.5;
  fill-rule: evenodd;
}

/*
        * Styles for coastlines of islands and continents with no borders on them
        * (all of them should also belong to the class "landxx" - to allow for all land to be modified at once by refining "landxx" style's definition further down)
        */
.coastxx {
  stroke-width: 0.2;
}

/*
        * Styles for territories without permanent population (the largest of which is Antarctica)
        *
        * Change opacity to 0 to hide all territories
        */
.antxx {
  opacity: 1;
  fill: #c0c0c0;
}

/*
        * Circles around small countries without permanent population
        *
        * Change opacity to 1 to display all circles
        */
.noxx {
  opacity: 0;
  fill: #c0c0c0;
  stroke: #000000;
  stroke-width: 0.5;
}

/*
        * Styles for territories with limited or no recognition
        * (all of them - including Taiwan - are overlays (i.e. duplicate layers) over their "host" countries, and so not showing them doesn't leave any gaps on the map)
        *
        * Change opacity to 1 to display all territories
        */
.limitxx {
  opacity: 0;
  fill: #c0c0c0;
  stroke: #ffffff;
  stroke-width: 0.2;
  fill-rule: evenodd;
}

/*
        * Smaller circles around small territories with limited or no recognition
        *
        * Change opacity to 1 to display all circles
        */
.unxx {
  opacity: 0;
  fill: #c0c0c0;
  stroke: #000000;
  stroke-width: 0.3;
}

/*
        * Oceans, seas, and large lakes
        */
.oceanxx {
  opacity: 1;
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.5;
}

/*
        * Reserved class names:
        *
        * .eu - for members of European Union
        * .eaeu - for members of Eurasian Economic Union
        */

/*
        * Additional style rules
        *
        * The following are examples of colouring countries.
        * These can be substituted with custom styles to colour the countries on the map.
        *
        * Colour a few countries:
        *
        * .gb, .au, .nc
        * {
        * 	fill: #ff0000;
        * }
        *
        * Colour a few small-country circles (along with the countries):
        *
        * .ms, .ky
        * {
        * 	opacity: 1;
        * 	fill: #ff0000;
        * }
        *
        */

#ru path,
#cn path,
#vn path,
#fr path,
#th path,
#us path,
#gb path {
  fill: #76aabf;
  stroke: #eee;
  stroke-width: 0.25;
}
#ru path:hover,
#cn path:hover,
#vn path:hover,
#fr path:hover,
#th path:hover,
#us path:hover,
#gb path:hover {
  fill: #006284;
  transition: 0.6s;
  cursor: pointer;
}
